<div class="page-header section-image">
  <div class="page-header-image" style="background-image:url(https://jooinn.com/images/cat-closeup-14.jpg)"></div>
    <div class="content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="container">
            <h2> Éditer mon profil </h2>
            <div class="form-group col-md-8 ml-auto mr-auto">
              <label> Votre adresse email </label><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Modifiez votre adresse mail...' %>
            </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

            <div class="form-group col-md-8 ml-auto mr-auto">
              <label> Nouveau mot de passe <em>(Votre mot de passe doit comporter au moins <%= @minimum_password_length %> caractères)</em></label><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Nouveau mot de passe...' %>
              <% if @minimum_password_length %>
              <% end %>
            </div>

            <div class="form-group col-md-8 ml-auto mr-auto">
              <label> Confirmez votre mot de passe </label><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirmez votre mot de passe...' %>
            </div>

            <div class="form-group col-md-8 ml-auto mr-auto">
              <label> Votre mot de passe actuel <em>(afin de confirmer les nouveaux paramètres)</em><br /> </label>
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', placeholder: 'Entrez votre mot de passe actuel...' %>
            </div>

            <div class="actions">
              <%= f.submit "Mettre à jour", :class => "btn btn-primary" %>
            </div>
      <% end %>
            <br></br>
            <label> Se désinscrire </label> <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte ?" }, method: :delete, :class => "btn btn-danger" %></p>

            <%= link_to "Retour", :back %>
            <br></br>
    </div>
