<div class="page-header page-header-small" filter-color="black">
  <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;">
	</div>
</div>
<div class="blogs-3">
  <div class="container">
			<div class="row">
					<div class="col-md-12 ml-auto mr-auto">
							<center>
							<h2 class="title">Bar(s) correpondant à ta recherche</h2></center>
							<br>
							<% i = 0 %>
							<% @bars_search_by_my_user.size.times do %>
							<div class="card card-plain card-blog">
								<div class="col-md-12">
									<h6 class="category text-primary">Bar</h6>
									<h4 class="card-title">
											<%= @bars_search_by_my_user[i].fetch('name') %>
									</h4>
									<h6 class="category text-primary">Adresse</h6>
										<%= @bars_search_by_my_user[i].fetch('adress') %><br>
										<%= @bars_search_by_my_user[i].fetch('zip_code') %>
										<%= @bars_search_by_my_user[i].fetch('city') %><br><br>
									<h6 class="category text-primary">A Propos</h6>
									<p class="card-description">
										<%= @bars_search_by_my_user[i].fetch('description') %></p>
									<center><%= link_to  "Voir le bar", bar_path(@bars_search_by_my_user[i].fetch('id')), class: "btn btn-primary btn-round" %></center>
									</div>
							</div>
							<% i += 1 %>
							<%end%>
					</div>
			</div>
			<center><%= button_to  "Retour à l'accueil", root_path, method: :get, class:"btn btn-default btn-round" %></center>  
	</div>
<div>
