<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="ecommerce-page">

    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/765228/pexels-photo-765228.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">C'est lundi, tu t'ennuies ?</h1>
                                    <h4 class="description text-white">On a ce qu'il faut pour toi !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/351265/pexels-photo-351265.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Choisis ta came !</h1>
                                    <h4 class="description text-white">Rock, rap, jazz et plein d'autres !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">Tous les bons plans sont là (enfin en-dessous) !</h1>
                                    <h4 class="description text-white">Juste à chercher, bouger et passer une bonne soirée !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fas fa-arrow-circle-left fa-5x"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fas fa-arrow-circle-right fa-5x"></i>
            </a>
        </div>
        <div class="main">
          <div class="section">
            <div class="container">
              <div class="col-md-12">
                <div class="team-2" style="background-image :url('https://images.pexels.com/photos/18932/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">

                <div class="row">   
                  <div class="col-md-6 ml-auto mr-auto">
                    <center><h2>Trouve ta ville</h2></center>                                          
                      <%= form_for @bars_search_by_my_user, url: {action: "bar_search"} do |f| %>
                      <div class="form-group">
                          <%= select_tag(:city, options_for_select(@cities.insert(0, "Choisis ta ville")), {class: 'selectpicker'} ) %>
                        </div>
                          <center><div class="form-group col-md-4">
                            <%= f.submit 'Let The Music Play', name: nil, class: "btn btn-primary btn-round" %></center>
                        </div>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


                      <!--     *********    BLOG CARDS     *********      -->
                      <div class="cards">
                        <div class="container">
                            <div class="title">
                                <h3 class="title">Cards</h3>
                                <h3>
                                    <small>Blog Cards</small>
                                </h3>
                            </div>
                            <div class ="row">
                              <div class="col-md-6 col-lg-4 d-flex">
                                  <div class="card card-blog">
                                      <div class="card-image">
                                          <a href="#pablo">
                                              <img class="img rounded" src="https://www.paris-normandie.fr/binrepository/1018x1274/0c0/1018d511/none/10904/YBIW/image_content_24955090_20190304152240.jpg">
                                          </a>
                                      </div>
                                      <div class="card-body">
                                          <h6 class="category text-primary">Features</h6>
                                          <h5 class="card-title">
                                              <a href="#nuk">That’s One Way To Ditch Your Passenger</a>
                                          </h5>
                                          <p class="card-description">
                                              As near as we can tell, this guy must have thought he was going over backwards and tapped the rear break to bring the nose down...
                                          </p>
                                          <div class="card-footer">
                                              <div class="author">
                                                  <img src="assets/img/julie.jpg" alt="..." class="avatar img-raised">
                                                  <span>Mike John</span>
                                              </div>
                                              <div class="stats stats-right">
                                                  <i class="now-ui-icons tech_watch-time"></i> 5 min read
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>




          <div class="main">
            <div class="section">
                <div class="container">
                      <div class="col-md-12">
                        <center><h1>LES NOUVEAUX BARS</h1></center>
                            <div class="row">
                      <%@bars.each do |bar|%> 
                    <div class="col-md-6 ml-auto d-flex">
                      <div class="card card-background card-background-product card-raised" style="background-image: url('https://images.pexels.com/photos/1185434/pexels-photo-1185434.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
                        <div class="card-body">
                        <h2 class="card-title"><%= bar.name %></h2>
                          <p class="card-description">
                          <%= bar.city %></br>
                          Prix : <%= bar.price.price_range %></br>
                          Genre(s) : <% bar.tags.each do |bartag| %> 
                          <%= bartag.name %><br>
                          <%end%>
                        </p></br>
                        <%= link_to  "Voir les concerts", bar_path(bar), class: "btn-neutral btn-round" %>
                        <div>
                            <% if user_signed_in? && bar.users.exclude?(current_user) %>
                            <%= button_to "Ajouter aux favoris", {:controller => "favorites", :action => "create", :bar_id => bar.id, :user_id=> current_user.id} , :method=>:post, class:"btn btn-primary btn-round"  %></center>
                            <% elsif  user_signed_in? && bar.users.include?(current_user)%>
                            <br>
                            <h6><%= "Ce bar fait parti de tes favoris" %></h6>
                            <%end%>
                            <br>                                
                          </div>
                        </div>
                      </div>
                    </div>                         
                    <%end%>                             
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- end-main-raised -->

</body>

</html>