<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="style.scss">
</head>

<body class="ecommerce-page">

    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/765228/pexels-photo-765228.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">C'est lundi, tu t'ennuies ?</h1>
                                    <h4 class="description text-white">On a ce qu'il faut pour toi !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/351265/pexels-photo-351265.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Choisis ta came !</h1>
                                    <h4 class="description text-white">Rock, rap, jazz et plein d'autres !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">Tous les bons plans sont là (enfin en-dessous) !</h1>
                                    <h4 class="description text-white">Juste à chercher, bouger et passer une bonne soirée !</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fas fa-arrow-circle-left fa-5x"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fas fa-arrow-circle-right fa-5x"></i>
            </a>
        </div>
        <div class="main">
            <div class="section">
                <div class="container">
                
                        <div class="col-md-12">
                            <div class="row">
														
														    <div class="col-md-6 ml-auto mr-auto">
<form>
  <div class="form-group">
<select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Choisis ton style" tabindex="-98">
        <option class="bs-title-option" value="Choisis ton style">Choisis ton style</option>
        <option disabled="" selected="">Choisis ton style</option>
        <%@tags.each do |tag|%>
        <option><%= tag.name %> </option>
        <%end%>       
      </select> 
</select></div>
  <div class="form-group">
<select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Choisis ta ville" tabindex="-98">
        <option class="bs-title-option" value="Choisis ta ville">Choisis ta ville</option>
        <option disabled="" selected="">Choisis ta ville</option>
  <%@bars.each do |bar|%>
  <option><%= bar.city %> </option>
	<%end%>
</select></div>
    <div class="form-group">
<select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Choisis ton prix (optionnel)" tabindex="-98">
        <option class="bs-title-option" value="">Choisis ton prix (optionnel)/option>
        <option disabled="" selected="">Choisis ton prix (optionnel)</option>
  <%@prices.each do |price|%>
  <option><%= price.price_range %> </option>
	<%end%>
</select></div>
<center>
  <button type="submit" class="btn btn-primary btn-round justify-content-end">Let The Music Play !</button></center>
</form>
                                    </div>
																		</div>
																		</div>
																		</div>
																		</div>


                                  <div class="main">
            <div class="section">
                <div class="container">
                
                        <div class="col-md-12">
                        <center><h1>LES NOUVEAUX BARS</h1></center>
                            <div class="row">

                          <%@bars.each do |bar|%>
                          
<div class="col-md-6 ml-auto">

  <div class="card card-background card-background-product card-raised" style="background-image: url('https://images.pexels.com/photos/1185434/pexels-photo-1185434.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
    <div class="card-body">
    <h2 class="card-title"><%= bar.name %></h2>
      <p class="card-description">
      <%= bar.city %></br>
      Prix : <%= bar.price.price_range %></br>
      Style : <%= bar.tags.name %>
    </p></br>
    <%= link_to  "Voir les concerts", new_bar_path, class: "btn-secondary btn-round" %>
    <%= link_to  "Ajouter aux favoris",  "#" , class: "btn-secondary btn-round" %>
    </div>
  </div>
</div>
                                 
                          <%end%> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end-main-raised -->
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function(values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>

</html>
