<head>
    <meta charset="utf-8" />
</head>

<body class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="black">
          <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/995301/pexels-photo-995301.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') ;">
          </div>
          <div class="content-center">
              <h1 class="title">Ajouter un concert</h1>
              <div class="content">

              </div>
        	</div>
      	</div>

	      <div class="section">
	        <div class="form-group col-md-8 ml-auto mr-auto">
	        		<%= form_for @gigs do |newgig| %>
	        			<div center class="form-group">
	        				<h3>C'est quoi ?</h3>
	        				<%= newgig.text_field :name, class: 'form-control' %>
	        			</div>

	        			<div class="form-group">
	        				<h3>C'est où ?</h3>
	        				<%= newgig.text_field :bar, class: 'form-control' %>
	        			</div>

	        			<div class="form-group">
	        				<h3>Quel genre de musique ?</h3>

	        				<%= newgig.text_field :bar, class: 'form-control' %>
	        			</div>

	        			<div class="form-group">
	        				<h3>C'est quand ?</h3>
	        				<%= newgig.date_field :date, value: newgig.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
	        			</div>



	        			<div class="pull-center">
	        				<button type="submit" class="btn btn-primary btn-round">Rock on, baby !</button>
	        			</div>
	        		<% end %>
	        </div>
	      </div>
    </div>
</body>

</html>
