<!DOCTYPE html>
<html>

<head>
  <title>Mon Petit Criquet</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="turbolinks-visit-control" content="reload">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">  <!--     CSS files     -->
  <%= favicon_link_tag asset_path('locust.png') %>
</head>

<body>
  <%= render 'layouts/navbar'%>
  <br>
  <br>
	<%= render 'layouts/flash'%>
  <%= yield %>
	
  <script type="text/javascript">
      $(document).ready(function() {
          // the body of this function is in assets/js/now-ui-kit.js
          nowuiKit.initSliders();
      });
  </script>
  
</body>

  <%= render 'layouts/footer'%>

</html>
